<?xml version="1.0"?>
<!--
/**
 * @author Greenrivers Team
 * @copyright Copyright (c) 2021 Greenrivers
 * @package Greenrivers_MaintenanceMode
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="greenrivers" translate="label" sortOrder="100000">
            <label>Greenrivers</label>
        </tab>
        <section id="maintenance_mode" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Maintenance Mode</label>
            <tab>greenrivers</tab>
            <resource>Greenrivers_MaintenanceMode::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="checkbox" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Settings</label>
                <field id="frontend" translate="label" type="checkbox" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Frontend</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
                <field id="backend" translate="label" type="checkbox" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Backend</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
                <field id="whitelist_ips" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Whitelist ips</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\DynamicFields</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="custom_page" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Custom page</label>
                <field id="enabled" translate="label" type="checkbox" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
                <field id="styles" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Styles</label>
                    <validate>required-entry</validate>
                </field>
                <field id="content" translate="label" type="editor" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Content</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Cron</label>
                <group id="frontend" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                    <label>Frontend</label>
                    <field id="enabled" translate="label" type="checkbox" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enabled</label>
                        <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                    </field>
                    <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Frequency</label>
                        <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                        <backend_model>Greenrivers\MaintenanceMode\Model\Config\Backend\Cron\Frontend</backend_model>
                    </field>
                    <field id="time_start" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Time start</label>
                    </field>
                    <field id="time_end" translate="label" type="time" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Time end</label>
                    </field>
                </group>
                <group id="backend" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Backend</label>
                    <field id="enabled" translate="label" type="checkbox" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enabled</label>
                        <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                    </field>
                    <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Frequency</label>
                        <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                        <backend_model>Greenrivers\MaintenanceMode\Model\Config\Backend\Cron\Backend</backend_model>
                    </field>
                    <field id="time_start" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Time start</label>
                    </field>
                    <field id="time_end" translate="label" type="time" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Time end</label>
                    </field>
                </group>
                <field id="whitelist_ips" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Whitelist ips</label>
                    <frontend_model>Greenrivers\MaintenanceMode\Block\Adminhtml\System\Config\DynamicFields</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
